$content-width: 800px;
$main: #d0d3c5;
$font-style: 'Open Sans', sans-serif;
$font-color: #2F4F4F;
$link-color: #56b1bf;
$link-hover-color: #08708a;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #08708a;
$light: #E7EDF4;
$header: #032b2f;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
