$content-width: 800px;
$main: #585a56;
$font-style: 'Open Sans', sans-serif;
$font-color: #272424;
$link-color: #81a3a7;
$link-hover-color: #81a3a7;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #585a56;
$light: #E7EDF4;
$header: #c2d3da;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
