$content-width: 800px;
$main: #e85a4f;
$font-style: 'Open Sans', sans-serif;
$font-color: #2F4F4F;
$link-color: #032b2f;
$link-hover-color: #08708a;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #8e8d8a;
$light: #E7EDF4;
$header: #eae7dc;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
