html {
    height: 100%;
}

body {
	font-family: $font-style;
	font-size: 1.1em;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

header,
main {
    opacity: 1;
    transition: 1s opacity;
}

header.fade-out,
main.fade-out {
    opacity: 0;
    transition: none;
}

h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	line-height: 1.5;
}

.home-center {
    background-color: rgba(0,40,0,0.5);
    padding: 1%;
    white-space: nowrap;
    h1 {
        color: white;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0 0 0.75em 0;
        li {
            display: inline-block;
            padding: 0 0.5em;
            img {
                width: 5vh;
            }
        }
    }
}

h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}

h2 {
	font-size: 2em;
	-webkit-margin-before: 0.1em;
	-webkit-margin-after: 0.6em;
}

h2.post-link {
	font-size: 1.7em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0.4em;
}

h3 {
	font-size: 1em;
}

headline {
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 2em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 15px;
}

a,
a:visited {
	color: $link-color;
    font-weight: 600;
	text-decoration: underline;
}

a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

header {
    background-image: url("/samfeng279.github.io/assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	text-align: center;
	max-width: 100%;
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

padding {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-container,
main {
	margin: 0 6.5em;
}

article {
	-webkit-margin-before: 1em;
}

/* Aside */

aside {
	position: static;
    display: inline-block;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	box-shadow: 0px 2px 4px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
        ul {
            list-style: none;
            margin: 0;
			padding: 0;
            li {
                border: 1px solid rgba($light, 0.75);
                float: left;
                position: relative;
                margin: -1px 0 0 -1px;
            }
        }
        a {
            text-decoration: none;
            display: block;
            padding: 15px;
            line-height: 20px;
            margin-bottom: -1px;
            &:hover,
            &:active {
                background: $header;
                text-decoration: none;
                color: $main;
            }
        }
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

@media only screen and (min-width : 681px) {
    .desktop-nav {
        display: block;
    }
    .mobile-nav {
        display: none;
    }
}

@media only screen and (max-width : 680px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
        width: 100%;
    }
    .navbar-header button {
        background-color: $header;
        color: $main;
        float: right;
        display: block;
        outline: none;
        margin: 0.2em;
    }
    .mobile-nav a {
        float: none;
        display: block;
        text-align: left;
    }
    .nav-container,
    main {
        margin: 0 2em;
    }
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

//CSS for Photo Gallery layout
.photo-gallery {
	-moz-column-count: 3;
	-moz-column-gap: 4px;
	-webkit-column-count: 3;
	-webkit-column-gap: 4px;
	column-count: 3;
	column-gap: 4px;
	width: 100%;
    margin-left: 0;
    padding-left: 0;
}
 
.photo-gallery li {
    display: inline-block;
    margin-bottom: 4px;
    position: relative;
    width: 100%;
}

.picture:hover {
    cursor: pointer;
}

.picture:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
    background-color: rgba($heading-font-color, 0.75);
}

.overlay-text {
    color: white;
    font-size: 20px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.modal-dialog {
    display: table;
}

.modal img {
    max-width: 80vw;
    max-height: 75vh;
}