html {
    height: 100%;
}

body {
	font-family: $font-style;
	font-size: 1.1em;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

header,
main {
    opacity: 1;
    transition: 1s opacity;
}

header.fade-out,
main.fade-out {
    opacity: 0;
    transition: none;
}

h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	line-height: 1.5;
}

.home-center {
    background-color: rgba(0,40,0,0.5);
    padding: 1%;
    width: 40%;
    p {
        color: white; 
        word-wrap: normal;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0 0 0.75em 0;
        li {
            display: inline-block;
            padding: 0 0.5em;
            img {
                width: 5vh;
            }
        }
    }
}

h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}

h2 {
	font-size: 2em;
	-webkit-margin-before: 0.1em;
	-webkit-margin-after: 0.6em;
}

h2.post-link {
	font-size: 1.7em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0.4em;
}

h3 {
	font-size: 1em;
}

headline {
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 2em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 15px;
}

a,
a:visited {
	color: $link-color;
    font-weight: 600;
	text-decoration: underline;
}

a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

.light-nav a, 
.light-nav a:visited {
    color: white;
}

.dark-nav nav {
    background: $light;
}

.nav-brand {
    float: left;
    font-weight: 600;
    a {
        font-size: 2em;
    }
}

.nav-links {
    float: right;
} 

header {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	text-align: center;
	max-width: 100%;
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

padding {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-container,
main {
	margin: 0 6.5em;
}

article {
	-webkit-margin-before: 1em;
    padding-top: 4em;
}

/* Aside */
aside {
	position: static;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	box-shadow: 0px 2px 4px RGBA(4, 25, 54, .1);
	nav {
		margin: 0 auto;
        padding: 0.5em;
        ul {
            list-style: none;
            margin: 0;
			padding: 0.5em;
            li {
                float: left;
                position: relative;
                margin: -1px 0 0 -1px;
            }
        }
        a {
            text-decoration: none;
            display: block;
            padding: 15px;
            line-height: 20px;
            margin-bottom: -1px;
            &:hover,
            &:active {
                background: $header;
                text-decoration: none;
                color: $main;
            }
        }
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.navbar-header button {
    background-color: $header;
    color: $main;
    float: right;
    display: block;
    outline: none;
    margin: 0.2em;
    padding: .275rem .55rem;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

//CSS for Photo Gallery layout
.photo-gallery {
	-moz-column-count: 3;
	-moz-column-gap: 4px;
	-webkit-column-count: 3;
	-webkit-column-gap: 4px;
	column-count: 3;
	column-gap: 4px;
    margin-left: 0;
    padding-left: 0;
}
 
.photo-gallery li {
    display: inline-block;
    margin-bottom: 4px;
    position: relative;
}

.picture:hover {
    cursor: pointer;
}

.picture:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
    background-color: rgba($heading-font-color, 0.75);
}

.overlay-text {
    color: white;
    font-size: 20px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.modal-dialog {
    display: table;
}

.modal img {
    max-width: 80vw;
    max-height: 75vh;
}

//
// Container
// --------------------------------------------------
.container {
    @media (min-width: 1200px) {
        width: 100%;
        max-width: 1300px;
    }

    > .row:last-child {
        padding-bottom: 20px;
    }
}

//
// Card: General
// --------------------------------------------------
.flex-wrap-equal-height {
    @extend .flex-wrap;
    align-items: stretch;
}

.card-grid {
    @extend .flex-wrap-equal-height;

    &:before,
    &:after {
        content: normal;
    }

    .card-container {
        @extend .flex-wrap-equal-height;
        padding-top: 32px;

        .gradient-border-top-default {
            width: 100%;
            height: 0;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}

.card-container {
    @extend .flex-wrap-equal-height;
    padding-top: 20px;

    .gradient-border-top-default {
        width: 100%;
        height: 0;
        flex-grow: 0;
        flex-shrink: 0;
    }

    
}
.card-box {
    border-radius: 5px;
    box-shadow: 0px 0px 9.5px 0.5px #bbbbbb;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h3 {
        margin-top: 10px;
    }
}

.card-box-content {
    border-radius: 5px;
    height: 350px;
    width: 100%;
    padding: 15px;
    p:last-child {
        margin-bottom: 0;
    }
    background:rgb(0,0,0);  
    background: transparent\9;  
    background:rgba(0,0,0,0.3);  
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
    zoom: 1;  
    color: white;
    font-weight: bold;
    .photos-button, 
    .photos-button:hover {
        color: white;
        text-decoration: none;
        background: $heading-font-color;
    }
}

.title-height {
    position: absolute;
    top : 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
    font-size: 33px;
    width: 80%;
}

.button-height {
    position: absolute;
    top : 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
    color: white;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

//
// Card: Mobile Full Width Card
// --------------------------------------------------
.mobile-full-card {
    @media (max-width: 767px) {
        border-radius: 0;
    }
}

div.modal-content .btn {
    padding: 5px 29px;
    border-bottom-width: 1px;
}

.grid-item {
    width: 33%;
    @media (max-width: 991px) {
        width: 50%;
    }
    @media (max-width: 576px) {
        width: 100%;
    }
}

.image {
    display: inline-block;
    padding: 2px;
    position: relative;

    img {
        max-width: 100%;
        width: 100%;
    }
}

.image:hover .overlay{
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.flex-center-container {
    @extend .flex-no-wrap;
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

div.page-navigation-controls {
    text-transform: uppercase;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #f4f5f8;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    > .btn {
        font-size: 14px;
        border-radius: 0;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        background-color: #f4f5f8;
        &.arrow-left:before,
        &.arrow-right:before {
            background-position-y: 3px;
        }
        &.left {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-right: none;
        }
        &.right {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: none;
        }
        &.back-to-list {
            position: center;
            // need to shorten
        }
    }
    .btn + .btn {
        margin-left: 0;
    }
    a {
        text-decoration: none;
    }
}

.photos-left {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    padding-left: 38px !important;
    margin-left: 10px;
    background-image: url(/assets/images/arrow_left.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left center;
}

.photos-right {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    padding-right: 38px !important;
    margin-right: 10px;
    background-image: url(/assets/images/arrow_right.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: right center;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: 0.3;
}


.photo-header{
    padding-top: 20px;
    text-align: left;
}

.photo-header p{
    padding-top: 10px;
}

/**
 * Mobile CSS
 */
@media only screen and (min-width : 681px) {
    .desktop-nav {
        display: flex;
    }
    .mobile-nav {
        display: none;
    }
}

@media only screen and (max-width : 680px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
        width: 100%;
        a {
            float: none;
            display: block;
            text-align: left;
        }
        li {
            border: none;
            float: none;
        }
    }
    .light-nav a {
        background: $main;
    }
    .nav-container {
        margin: 0 2em;
    }
    .home-center {
        width: 50%;
    }
}